280NPLIST;1.0;D;K;23;Main cib file base nameS;12;MainMenu.cibK;12;CPBundleNameS;4;pactK;15;CPBundleVersionS;3;1.0K;24;CPHumanReadableCopyrightS;51;Copyright © 2015, Your Company All rights reserved.K;29;CPBundleInfoDictionaryVersiond;1;6K;18;CPBundleIdentifierS;20;com.yourcompany.pactK;19;CPBundlePackageTypeS;4;APPLK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;7;pact.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;K;17;CPApplicationSizeD;K;10;executabled;7;3791607K;4;datad;6;523260K;5;mhtmld;5;85552E;E;